<nav class="uk-navbar uk-navbar-attached">

    <ul class="uk-navbar-nav uk-contrast">
        <li class="uk-active">
            <a href="#" class="text-glim2"><i style="margin-top: 12px;" class="uk-icon-user"></i></a>
        </li>
        <li class="uk-active">
            <a href="#" class="text-glim2"
               style="padding-top: 6px;"><img
                    id="online-status"
                    src="/app/assets/img/online.png" /></a>
        </li>
    </ul>

    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav uk-contrast ">
            <li class="uk-active">
                <a href="#" class="text-glim2"><i style="margin-top: 12px;" class="uk-icon-gear"></i></a>
            </li>
            <li class="uk-active">
                <a href="/logout" class="text-glim2"><i style="margin-top: 12px;" class="uk-icon-sign-out"></i></a>
            </li>
        </ul>
    </div>

    <div class="uk-navbar-content uk-navbar-center">
        <a class="text-glim" href="../">{{ @name }}</a>
    </div>
</nav>