<!-- contingents 1-3 -->
<div class="contis">
    <div class="c1">
        <div class="uk-container uk-container-center uk-margin-top">
            <h4 class="conti-heading">MEINE KONTINGENTE</h4>

            <div class="uk-grid">
                <div class="uk-width-1-3">
                    <div class="conti-box">
                        <p>CONTI <b>1</b></p>

                        <h2 class="uk-icon-money"></h2>
                    </div>
                    <div class="uk-grid" style="margin-top: -36px;">
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-left conti-button-glim uk-icon-pencil"></i>
                            </a>
                        </div>
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-right conti-button-glim uk-icon-question-circle-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="conti-box">
                        <p>CONTI <b>2</b></p>

                        <h2 class="uk-icon-credit-card"></h2>
                    </div>
                    <div class="uk-grid" style="margin-top: -36px;">
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-left conti-button-glim uk-icon-pencil"></i>
                            </a>
                        </div>
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-right conti-button-glim uk-icon-question-circle-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="conti-box">
                        <p>CONTI <b>3</b></p>

                        <h2 class="uk-icon-globe"></h2>
                    </div>
                    <div class="uk-grid" style="margin-top: -36px;">
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-left conti-button-glim uk-icon-pencil"></i>
                            </a>
                        </div>
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-right conti-button-glim uk-icon-question-circle-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <div class="uk-grid">
                <div class="uk-width-1-3">
                    <div class="conti-box">
                        <p>CONTI <b>4</b></p>

                        <h2 class="uk-icon-gift"></h2>
                    </div>
                    <div class="uk-grid" style="margin-top: -36px;">
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-left conti-button-glim uk-icon-pencil"></i>
                            </a>
                        </div>
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-right conti-button-glim uk-icon-question-circle-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="conti-box">
                        <p>CONTI <b>5</b></p>

                        <h2 class="uk-icon-diamond"></h2>
                    </div>
                    <div class="uk-grid" style="margin-top: -36px;">
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-left conti-button-glim uk-icon-pencil"></i>
                            </a>
                        </div>
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-right conti-button-glim uk-icon-question-circle-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3">
                    <div class="conti-box">
                        <p>CONTI <b>6</b></p>

                        <h2 class="uk-icon-sign-language"></h2>
                    </div>
                    <div class="uk-grid" style="margin-top: -36px;">
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-left conti-button-glim uk-icon-pencil"></i>
                            </a>
                        </div>
                        <div class="uk-width-1-2">
                            <a href="">
                                <i class="conti-right conti-button-glim uk-icon-question-circle-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //contingents 1-3 -->