<!--
App Dashboard
----------------->

<div class="uk-grid uk-grid-small">
    <div class="us-width-small-1-1 uk-width-medium-1-2  uk-width-large-1-2">

        <!--circal times-->
        <include href="users/timer/timer1.html"/>
        <!--//circal times-->

        <!--all times-->
        <include href="users/timer/timer2.html"/>
        <!--//all times-->


    </div>
    <div class="us-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2">

        <!--contingents-->
        <include href="users/contingent/contis.html"/>
        <!--//contingents-->

    </div>
</div>


<div style="background: #1B1427; margin-top: -22px;">

    <!--info die-->
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <p class="info">
                    Ihre Zeit ist abgelaufen...
                </p>
            </div>
        </div>
    </div>
    <!--//info die-->
    <div class="uk-container uk-container-center">
        <div class="us-small-1-1">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

